<h1>Event i Angular</h1>
<ul>
  <li>click</li>
  <li>mouseenter</li>
  <li>mouseleave</li>
  <li>blur</li>
  <li>focus</li>
  <li></li>
</ul>

<button class="btn" name="login" (click)="handleEvent($event)">Click me</button>

<br>

<div
(mouseenter)="handleEvent($event)"
style="background-color: green; height: 100px; width: 100px; margin-top: 20px;"
>

</div>

<div
(mouseleave)="handleEvent($event)"
style="background-color: red; height: 100px; width: 100px; margin-top: 20px;"
>

<br>
<input type="text" 
(blur)="handleEvent($event)"
(focus)="handleEvent($event)"
(input)="handleEvent($event)"
>

</div>