<h1>If Else Statement | Control Flow | Hide-Show | Toggle</h1>
<ul>
  <li>Define Property and Html for if else condition</li>
  <li>Apply if else condition</li>
  <li>Hide and show with button click</li>
  <li>Update button text with toggle</li>
  <li>Interview Question</li>
</ul>

<hr>

<button (click)="hide()">Hide</button>
<button (click)="show()">Show</button>
<button (click)="toggle()">Hide/Show</button>

@if(display){
<div style="width: 200px; height: 200px; background-color: green">

</div>
}

<hr>

<button (click)="toggleTwo()">{{ toggleDiv ? 'Show Red Div' : 'Show Green Div' }}</button>

@if(toggleDiv) {
  <div style="width: 200px; height: 200px; background-color: green"></div>
} @else {
  <div style="width: 200px; height: 200px; background-color: red"></div>
}