<h1>Counter App</h1>
<div style="text-align: center;">
  <h3 class="count">{{count}}</h3>
  <div>
    <button (click)="handleDecrement()" class="btn btn-red">Decrement</button>
    <button (click)="handleReset()" class="btn btn-green">Reset</button>
    <button (click)="handleIncrement()" class="btn btn-black">Increment</button>
  </div>
  <div>
    <button (click)="handleCount('minus')" class="btn btn-red">Decrement</button>
    <button (click)="handleCount('reset')" class="btn btn-green">Reset</button>
    <button (click)="handleCount('plus')" class="btn btn-black">Increment</button>
  </div>
</div>